@import url("https://use.typekit.net/zfa7adf.css");

// Variables
$darkest: #212121;
$darker: #303030;
$teal: #009688;



.icon:active {
  opacity: 50%;
}

.icon {
  margin-top: 30px;
}

h1,
h2,
h3,
p {
  font-family: "urbane", sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
}

.container {
  margin-top: 1em;
}

body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
}

.logo {
  font-family: "mokoko", serif;
  font-weight: 400;
  font-size: 3em;
  color: #009688;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nav {
  background-color: #212121;
}

input {
  color: white;
}

#logo {
  text-decoration-line: none;
}

#link {
  font-family: "roboto", sans-serif;
  color: #009688;
}

.card {
  margin: 0 auto; 
  text-align: center;
}

.profile-root {
  margin: 0 auto; 
  margin-top: 1em; 
  background: $darkest;
  border: none;  
  h2, p {
    
    color: $teal;
    padding: 0; 
    margin: 0; 
    padding-top: 1em; 
  }
}

th.MuiTableCell-root {
  background: $darkest; 
  border-bottom: $darker 1px solid; 
  color: $teal; 
}

div.MuiPaper-root {
  background: $darkest; 
}