@import url("https://use.typekit.net/zfa7adf.css");

.icon:active {
  opacity: 50%;
}

.icon {
  margin-top: 30px;
}


@mixin font-primary {
  font-family: 'urbane', sans-serif;
  font-weight: 300;
}

.title {
  @include font-primary()
}

.container {
  margin-top: 1em; 
  @include font-primary(); 
}

body {
  @include font-primary();
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav.nav {
  background-color: #212121;
  padding: 2em; 
}

@mixin input {
  color: #009688; 
  margin: 0 auto;
}

#email, #name, #password   {
  @include input();
  @include font-primary();
  border-bottom: #009688 1px solid; 
  text-align: left;
}

#submitBtn {
  background-color: #009688; 
}

.navbar{
  margin: 0 auto; 
  min-width: 100%;
  text-align: center;
  padding-top: 0; 
  margin-top: 0; 
  margin-right: 0; 
 .navItem {
    font-family: 'urbane', sans-serif; 
    font-weight: 400; 
    font-size: 1em; 
    text-decoration-line: none;
    color: white; 
    
  }
  

}

#logo {
  font-family: 'mokoko', serif; 
  color: #009688;
  font-size: 2em;
  text-decoration-line: none;
  margin: 0 auto; 
  min-width: 100%; 
  padding-top: 0.5em; 
}

.footer {
  position: relative;
  bottom: 0;
  margin-top: 100vh; 
  display: inline-block;
  width: 100%; 
  background-color: #212121;
  padding-bottom: 0; 
  box-shadow: 5px 10px 0px darken($color:#212121, $amount: 4);
}

// Media Queries

@media (max-width: 500px) {
  html, body {
    font-size: 80%; 
  }
}